---
layout: base_layout.hbs
title: Main
---

{%- for post in collections.post -%}
<div>
<h2>{{ post.data.title }}</h2>
<p><em>{{ post.data.date | date: "%b %e, %Y"}}</em></p>
<p>{{ post.content }}</p>
</div>
{%- endfor -%}