---
layout: base_layout.hbs
tags: post
title: Travel
date: 2023-08-06
---

Trips and adventures:
<ul>
<li>Italy and France, July 2023</li>
<li>Toccoa River and Blue Ridge, June 2023</li>
<li>50 Hour Challenge Adventure Race, May 2023</li>
<li>Hilton Head Island, April 2023</li>
<li>London, March 2023</li>
<li>New Orleans, December 2022</li>
<li>Washington and Hawaii, July 2022</li>
<li>Four Corners, April 2022</li>
<li>Key West, March 2022</li>
<li>St. Augustine, December 2021</li>
<li>Maryland, Virginia, Washington, D.C., November 2021</li>
<li>Boston (Head of the Charles), October 2021</li>
<li>New York, September 2021</li>
<li>Boston and Cape Cod, June-July 2021</li>
<li>Tri-cities WA, May-June 2021</li>
<li>Conquer the Mountain Adventure Race, May 2021</li>
<li>Pensacola Beach, April 2021</li>
<li>Nashville, October 2020</li>
<li>Asheville, August 2020</li>
<li>St. Simons Island, June 2020</li>
<li>Maui, Hawaii, December 2019</li>
<li>Caribbean cruise, July 2019</li>
<li>Loire Valley, Ireland, May-June 2019</li>
<li>South Florida, December 2018</li>
<li>London (Iceland layover), November 2018</li>
<li>Santa Cruz Mountains Challenge, July 2018</li>
<li>Myrtle Beach, June 2018</li>
<li>Disney World, April 2018</li>
<li>Panama, March 2018</li>
<li>London and Vienna, December 2017-January 2018</li>
<li>Clemson (Eclipse), August 2017</li>
<li>Charleston, SC, May 2017</li>
<li>Austin, TX, April 2017</li>
<li>Chichen Itza and Tulum, December 2016-January 2017</li>
<li>Utah and Washington, June 2016</li>
</ul>